body
{
  margin:0;
  padding: 0;
  background-color: #00BFFF;
  /*   background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);*/
     /*background: linear-gradient(to top right, #BA5370 0%, #F4E2D8 100%);*/

  height: 100%;

}
html
{
    scroll-behavior: smooth;
    height: 100%;
}
/*.parallex1
{
  background:url(../images/par5.jpg);
  min-height: 100%;
}*/
.parallex2
{
  /*background:url(../images/par4.jpg);*/
  min-height: 30%;
}
.parallex3
{
  /*background:url(../images/gif1.gif);*/
  min-height: 30%;
}
.parallex4
{
  /*background:url(../images/par2.png);*/
  min-height: 30%;
}
.parallex5
{
  /*background:url(../images/par1.png);*/
  min-height: 30%;
}
.parallex6
{
  /*background-image:url(../images/par4.jpg);*/
  min-height: 30%;
}
.parallex1,.parallex2,.parallex3,.parallex4,.parallex5,.parallex6
{
  position: relative;
  /*opacity: 0.5;*/
  background-position: center!important;
  background-size: cover!important;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.demo{
  min-height: 450px;
  max-height: 450px;
  max-width: 100%;
  border-radius: 5px;
}
.img-tag {
  position: relative;
  width: 100%;
}

.image {
  display: block; 
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #EFA719;
}

.img-tag:hover .overlay {
  opacity: 0.8;
}
.img-tag:hover
{
  box-shadow: 0 8px 6px -6px black;
}
.text {
  color: black;
  font-weight: 600;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
iframe
{
  border-radius: 10px;
  box-shadow: 0 8px 6px -6px black;
  transition: 0.5s all;
}
button
{
  border-radius: 50px!important;
  width: 80px;
}
#myBtn {
  
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
}

#myBtn:hover {
  background-color: #555;
  transition: 0.3s all;
}
.fa-facebook-square:hover
{
  color:#3b5998;
  transition: 0.3s all;
}
.fa-twitter:hover
{
  color: #55acee;
  transition: 0.3s all;
}
.fa-instagram:hover
{
  color: #bd081c;
  transition: 0.3s all;
}
.fa-google-plus-square:hover
{
  color: #dc4e41;
  transition: 0.3s all;
}
#navbar {
  overflow: hidden;
  background-color: #fff;
}

#navbar a {

  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}



.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}
/*.h2
{
  animation:type 3s steps(22);
  overflow:hidden;
  white-space: nowrap;
  width: 22ch;
}*/
 svg #umbrella
  {
    animation: bgcolor 4s ease-in-out infinite;
  }
  .svg #face1
  {
    animation: bgcolor 4s ease-in-out infinite;
  }
  .svg #face2
  {
    animation: bgshoe 4s ease-in-out infinite;
  }
  .svg #face3
  {
    animation: bgshoe2 4s ease-in-out infinite;
  }
  @keyframes bgcolor
  {
    0%
    {
      fill: cyan;
    }
    25%
    {
      fill: green;
    }
    50%
    {
      fill: yellow;
    }
    100%
    {
      fill: pink;
    }
  }
  @keyframes bgshoe
  {
    0%
    {
      fill: green;
    }
    25%
    {
      fill: red;
    }
    50%
    {
      fill: pink;
    }
    100%
    {
      fill: yellow;
    }
  }
  @keyframes bgshoe
  {
    0%
    {
      fill: green;
    }
    25%
    {
      fill: cyan;
    }
    50%
    {
      fill: orange;
    }
    100%
    {
      fill: pink;
    }
  }
.demo1
{
  border-radius: 5px;
  box-shadow: 0 8px 6px -6px black;
}
